extends ../layout

block content
  div.span4
    div.row-fluid
      div.span6
        ul.thumbnails
          li
            div.thumbnail
              img(src="#{user.picture}")
      div.span6
        h2 #{user.agent.codename || "Ismeretlen"}
        h4 #{user.agent.faction || "Ismeretlen frakció"}
  div.span8
    if (user.id === everyauth.google.user.id)
      if (user.agent.faction === null)
        div.hero-unit
          div.check-faction-for-validation
          h1 Ismeretlen?
          p
            | Még nem azonosítottad magadat?
            | Azért jó azonosítás, mert akkor a profilodon nyomon tudod
            | követni mi is történt veled és hozzáférhetsz más csapattársad
            | frakción belüli adataihoz. Minden adat, amit tárolunk rólad,
            | azt csak te láthatod és az akinek megengeded.
          button.btn.btn-primary.btn-large(type='button', data-toggle="collapse", data-target="#validation-info") Azonosítom magam most!
          div#validation-info.collapse
            br
            //div.alert.alert-error.alert-block
            //  h4 Figyelem!
            //  | Jelenleg ez a funkció még nincs élesítve. Hamarosan elérhetővé válik, ahogyan a profil többi része is.
            div
              if (user.agent.codename == null)
                p
                  | Állítsd be a kódnevedet:&nbsp;
                div.input-append(data-module="save-codename")
                  input.input-medium(type="text", placeholder="codename", value="#{user.agent.codename || ""}")
                  button.btn.btn-info(type="submit") Mentés
              else
                p
                  | A neved:&nbsp;
                  strong #{user.agent.codename}

            blockquote
              small
                | Nyisd meg az&nbsp;
                a(href='http://ingress.com/intel', target="_blank") Intel térképet
                | &nbsp;és másold be publikus csatornára az alábbi szöveget:
            pre Azonosítom magam a hip.hu oldalon: #{user.info.activation_code}
            blockquote
              | Ezek után várj, amíg a rendszer feldolgozza az üzenetet.
              | Ha hosszú percek után sem működik, akkor írd be újra.
              small Ha így sem, akkor keress meg minket a Google+ Oldalon vagy a Közösségben.
      else
        h1 Itt lesz a profilod
        div
          | A profiloldal hamarosan kész, de még dolgozom rajta :)
          | Jelzem újra, hogy ezt a profilt csak te látod. A későbbiekben,
          | ha akarod megmutathatod csapattársaidnak is,
          | de amíg nincs teljesen készre tesztelve a jogkör állítás nem akarom kiélesíteni.
          | Azt hiszem érthető okok miatt.

          h2
            | Log&nbsp;
            small (utolsó 100 bejegyzés)
          ul.logs(class="#{user.agent.faction}")
            for log in logs
              if (log.plain[0].match(/destroyed an/))
                li.log-entry.destroy-resonator
                  span= "Lerombolt egy "
                  span= log.plain[1]
                  span= " szintű rezonátort. "
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span )
              else if (log.plain[0].match(/destroyed the Link/))
                li.log-entry.destroy-link
                  span= "Lerombolt egy linket "
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span= " -> "
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[1].location.latE6}&lngE6=#{log.portals[1].location.lngE6}&z=18",
                    title="#{log.portals[1].location.address}",
                    target="_blank")= log.portals[1].name
                  span )
              else if (log.plain[0].match(/destroyed a Control Field/))
                li.log-entry.destroy-field
                  span= "Lerobolt egy területet "
                  strong= log.plain[2]
                  span= " MU értékben. "
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span )
              else if (log.plain[0].match(/captured/))
                li.log-entry.captured
                  span= "Elfoglalt egy portált. "
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span )
              else if (log.plain[0].match(/deployed an/))
                li.log-entry.create-resonator
                  span= "Elhelyezett egy "
                  span= log.plain[1]
                  span= " szintű rezonátort. "
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span )
              else if (log.plain[0].match(/linked/))
                li.log-entry.create-link
                  span= "Létrehozott egy linket"
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span= " -> "
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[1].location.latE6}&lngE6=#{log.portals[1].location.lngE6}&z=18",
                    title="#{log.portals[1].location.address}",
                    target="_blank")= log.portals[1].name
                  span )
              else if (log.plain[0].match(/created a Control Field/))
                li.log-entry.create-field
                  span= "Lefedett egy területet "
                  strong= log.plain[2]
                  span= " MU értékben. "
                  span (
                  a(href="http://www.ingress.com/intel?latE6=#{log.portals[0].location.latE6}&lngE6=#{log.portals[0].location.lngE6}&z=18",
                    title="#{log.portals[0].location.address}",
                    target="_blank")= log.portals[0].name
                  span )
              else
                li.log-entry.unknown
                  span= "Ismeretlen bejegyzés (?): "
                  span= log.plain.join(" ")