doctype 5
html(lang="hu")
  head
    title #{Page.long}
    meta(name="application-version", content="#{Version}")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/message.css')
    link(href='http://fonts.googleapis.com/css?family=Electrolize', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="/javascripts/jquery-1.9.0.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript", src="https://apis.google.com/js/plusone.js")
  body
    header
      div.navbar.navbar-static-top
        div.navbar-inner
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="brand", href="#") #{Page.short}
          div.nav-collapse.collapse
            ul.nav.pull-left
              li.divider-vertical
              li
                a(href="https://plus.google.com/#{GooglePlus.pageId}", rel="publisher", target='_blank') Google+ oldal
              li.divider-vertical
              li
                a(href="https://plus.google.com/communities/#{GooglePlus.communityId}", rel="community", target='_blank') Google+ közösség
              li.divider-vertical
              li.googleplus
                div.g-plusone(data-size="tall", data-annotation="inline", data-width="200", data-href="https://plus.google.com/#{GooglePlus.pageId}")
            ul.nav.pull-right
              if everyauth.loggedIn
                li.divider-vertical
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown") Eszközök
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="http://www.ingress.com/intel", target='_blank') Intel Térkép
                li.divider-vertical
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown")
                    img.avatar(src="#{everyauth.google.user.picture}")
                    | #{everyauth.google.user.name}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href="/me") Profilom
                    li
                      a(href="/suicide") Kijelentkezés
              else
                li.divider-vertical
                li
                  a(href="/auth/google") Bejelentkezés Google Fiókkal
    div.container-fluid
      br
      div.fluid-row
        block content

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37537431-1']);
      _gaq.push(['_setDomainName', 'hip.hu']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
